# Datasets
dataset/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS artifacts
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual environments
.venv/
env/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Distribution & build
dist/
build/
*.egg-info/
